@mixin resp($breakpoint) {
  @if ($breakpoint == 1200) {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint == 850) {
    @media (max-width: 850px) {
      @content;
    }
  }
  @if ($breakpoint == 640) {
    @media (max-width: 640px) {
      @content;
    }
  }
  @if ($breakpoint == 500) {
    @media (max-width: 500px) {
      @content;
    }
  }
  @if ($breakpoint == 420) {
    @media (max-width: 420px) {
      @content;
    }
  }
  @if ($breakpoint == 320) {
    @media (max-width: 320px) {
      @content;
    }
  }
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include resp(850) {
    font-size: 58%;
  }
  @include resp(640) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background: #fc85ae;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-top: 9.9rem;
    font-family: Roboto;
    font-size: 3.5rem;
    line-height: 4.1rem;
    color: #303a52;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__form {
    @include resp(500) {
      width: 80%;
    }
    &--searchbar {
      width: 54.8rem;
      @include resp(500) {
        width: 100%;
      }
      margin-top: 2.6rem;
      background: #ffbfd5;
      border-radius: 0.4rem;

      height: 5.9rem;
      border: 0;
      padding: 0rem 4.5rem 0rem 2.5rem;
      user-select: none;
      font-family: Roboto;
      font-size: 1.8rem;
      &::after {
        content: "";
        display: block;
        background-color: red;
      }
    }

    &--searchicon {
      position: absolute;
      margin-top: 4.3rem;
      margin-left: -3.7rem;
      cursor: pointer;
    }
  }
  &--erro {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    font-family: Roboto;
  }

  &__booklist {
    list-style-type: none;
    margin-top: 3.9rem;
    @include resp(500) {
      width: 80%;
    }
    &--item {
      margin-top: 2.3rem;
      &--container {
        width: 54.8rem;
        @include resp(500) {
          width: 100%;
        }
        height: 12.9rem;
        @include resp(420) {
          height: 14rem;
        }
        @include resp(320) {
          height: 15rem;
        }
        background: #303a52;
        border-radius: 0.4rem;

        &--bookinfo {
          position: relative;
          top: 2.3rem;
          left: 3rem;
          display: flex;
          width: 50rem;
          @include resp(500) {
            width: 90%;
            top: 2.6rem;
          }
          @include resp(420) {
            top: 2.6rem;
          }
          @include resp(320) {
            top: 3rem;
          }
          height: 8.3rem;
          &--image {
            width: 6rem;
            height: 8.3rem;
            background: #626262;
            border: 0;
          }
          &--text {
            @include resp(500) {
              max-width: 100%;
            }
            display: flex;
            flex-direction: column;
            margin-left: 2.3rem;
            &--title {
              margin-top: 0.7rem;
              position: relative;
              top: 0;
              font: 400 2rem Roboto;
              color: #fc85ae;
            }
            &--author {
              margin-top: 0.35rem;
              font: 1.5rem Roboto;
              color: #ae627c;
              text-transform: capitalize;
            }
          }
        }

        &--list {
          list-style-type: none;
          display: flex;
          justify-self: end;
          align-self: end;
          position: relative;
          top: 0.8rem;
          left: 25.3rem;
          @include resp(500) {
            left: 30% !important;
          }
          @include resp(420) {
            left: 25% !important;
            top: 2rem;
          }
          @include resp(320) {
            left: 40% !important;
            top: 3rem;
          }
          &--item {
            margin-left: 1.2rem;
            &--title {
              font-family: Roboto;
              font-size: 1.3rem;
              line-height: 1.5rem;
              color: #777777;
            }
            &--content {
              font-family: Roboto;
              margin-left: 0.6rem;
              font-size: 1.3rem;
              line-height: 1.5rem;
              color: #8b8b8b;
            }
          }
        }
      }
    }
  }
}
