*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box;
  background: #fc85ae; }

.app {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .app__title {
    margin-top: 9.9rem;
    font-family: Roboto;
    font-size: 3.5rem;
    line-height: 4.1rem;
    color: #303a52; }
    .app__title::first-letter {
      text-transform: capitalize; }
  .app__searchbar {
    margin-top: 2.6rem;
    background: #ffbfd5;
    border-radius: 0.4rem;
    width: 54.8rem;
    height: 5.9rem;
    border: 0;
    padding: 0rem 4.5rem 0rem 2.5rem;
    user-select: none;
    font-family: Roboto;
    font-size: 1.8rem; }
    .app__searchbar::after {
      content: "";
      display: block;
      background-color: red; }
  .app__searchicon {
    position: absolute;
    margin-top: 4.3rem;
    margin-left: -3.7rem;
    cursor: pointer; }
  .app__erro {
    margin-top: 25px;
    font-size: 16px;
    font-family: Roboto; }
  .app__booklist {
    list-style-type: none;
    margin-top: 3.9rem; }
    .app__booklist--item {
      margin-top: 2.3rem; }
      .app__booklist--item--container {
        width: 54.8rem;
        height: 12.9rem;
        background: #303a52;
        border-radius: 0.4rem; }
        .app__booklist--item--container--bookinfo {
          position: relative;
          top: 2.3rem;
          left: 3rem;
          display: flex;
          width: 50rem;
          height: 8.3rem; }
          .app__booklist--item--container--bookinfo--image {
            width: 6rem;
            height: 8.3rem;
            background: #626262;
            border: 0; }
          .app__booklist--item--container--bookinfo--text {
            display: flex;
            flex-direction: column;
            margin-left: 2.3rem; }
            .app__booklist--item--container--bookinfo--text--title {
              margin-top: 0.7rem;
              position: relative;
              top: 0;
              font: 400 2rem Roboto;
              color: #fc85ae; }
            .app__booklist--item--container--bookinfo--text--author {
              margin-top: 0.35rem;
              font: 15px Roboto;
              color: #ae627c; }
        .app__booklist--item--container--list {
          list-style-type: none;
          display: flex;
          justify-self: end;
          align-self: end;
          position: relative;
          top: 0.8rem;
          left: 25.3rem; }
          .app__booklist--item--container--list--item {
            margin-left: 1.2rem; }
            .app__booklist--item--container--list--item--title {
              font-family: Roboto;
              font-size: 1.3rem;
              line-height: 1.5rem;
              color: #777777; }
            .app__booklist--item--container--list--item--content {
              font-family: Roboto;
              margin-left: 0.6rem;
              font-size: 1.3rem;
              line-height: 1.5rem;
              color: #8b8b8b; }
